USE [SIGH]
GO
/****** Object:  StoredProcedure [dbo].[web_RecetaCabeceraPorRangoFechas]    Script Date: 13/5/2026 09:34:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/**********************************************************************************************
 ---------------------------------------------------------------------------------------------
 | Usuario   | Fecha      | Cambios realizados                                             |
 |-----------|------------|----------------------------------------------------------------|
 | MGAMERO   | 13/05/2026 | Se ajustó la validación para que el filtro por FechaReceta solo aplique cuando NroDocumento y NroHistoriaClinica estén vacíos.|
 ---------------------------------------------------------------------------------------------
**********************************************************************************************/
ALTER PROCEDURE [dbo].[web_RecetaCabeceraPorRangoFechas]
(
@NroDocumento varchar(12) = '',
--@NroHistoriaClinica  int = 0,
@NroHistoriaClinica varchar(50) = '',
@ApellidoPaterno varchar(40) = NULL,
--@apellidoMaterno varchar(40) = NULL,
--@primerNombre varchar(40) = NULL,
--@segundoNombre varchar(40) = NULL,
--@idDocIdentidad int = 0,
@FechaIni varchar(10),
@FechaFin varchar(10),
@IdPuntoCarga INT,
@EsAntimicrobiano INT = 0
)
AS

declare @filtroAP varchar(150)
declare @FechaInicio DATETIME
declare @FechaFinal DATETIME

SET @NroDocumento = ISNULL(@NroDocumento, '')
SET @NroHistoriaClinica = ISNULL(@NroHistoriaClinica, '')
SET @ApellidoPaterno = ISNULL(@ApellidoPaterno, '')
IF @NroDocumento = '0' 
    SET @NroDocumento = ''
IF @NroHistoriaClinica = '0'
    SET @NroHistoriaClinica = ''

--IF @NroDocumento <> '' OR @NroHistoriaClinica > 0
IF @ApellidoPaterno <> '' 
BEGIN
	SET @filtroAP = @apellidoPaterno+'%'
	--SET @filtroAP = NULL
END
ELSE
BEGIN
	--SET @NroDocumento = NULL
	--SET @NroHistoriaClinica = 0
	--SET @filtroAP = @apellidoPaterno+'%'
	SET @filtroAP = NULL
END

SET @FechaInicio = CONVERT(datetime, @FechaIni + ' 00:00:00')
SET @FechaFinal = CONVERT(datetime, @FechaFin + ' 23:59:59')


SELECT     
dbo.Pacientes.ApellidoPaterno, 
dbo.Pacientes.ApellidoMaterno, 
dbo.Pacientes.PrimerNombre, 
dbo.Pacientes.SegundoNombre, 
dbo.Pacientes.NroHistoriaClinica, 
FechaNacimiento = CONVERT(varchar(10), dbo.Pacientes.FechaNacimiento, 103),
PuntoCarga = (CASE 
			  WHEN RecetaCabecera.EsRecetaAntimicrobiano = 1 THEN dbo.FactPuntosCarga.Descripcion + ' Antimicrobiano'
			  WHEN RecetaCabecera.EsRecetaIntervencionSanitaria = 1 THEN dbo.FactPuntosCarga.Descripcion + ' Int. Sanitaria'
			  ELSE dbo.FactPuntosCarga.Descripcion
			  END), 
dbo.RecetaCabecera.idCuentaAtencion, 
dbo.RecetaCabecera.idReceta, 
FechaReceta = CONVERT(varchar(10), dbo.RecetaCabecera.FechaReceta, 103) + ' ' + CONVERT(varchar(10), dbo.RecetaCabecera.FechaReceta, 108),
--dbo.RecetaCabecera.FechaReceta, 
TipoServicio = TiposServicio.Descripcion,
dbo.Servicios.Nombre AS Servicio,
dbo.RecetaCabecera.IdPuntoCarga,
dbo.Atenciones.IdFormaPago,
dbo.RecetaCabecera.idComprobantePago,
EsRecetaAntimicrobiano = ISNULL(RecetaCabecera.EsRecetaAntimicrobiano, 0),
IdSolicitudAntimicrobiano = ISNULL(SolicitudAntimicrobianos.IdSolicitudAntimicrobiano, 0),
AutorizaAntimicrobiano = ISNULL(SolicitudAntimicrobianos.AutorizaAntimicrobiano, 9),		-- 9: aun esta pendiente de autorizacion o rechazo.
EsRecetaIntervencionSanitaria = ISNULL(RecetaCabecera.EsRecetaIntervencionSanitaria, 0),
Atenciones.idEstadoAtencion,
firma.code,
firma.statusFirma
FROM dbo.FactPuntosCarga 
RIGHT JOIN dbo.RecetaCabecera 
left join SolicitudAntimicrobianos ON SolicitudAntimicrobianos.IdReceta = RecetaCabecera.idReceta AND SolicitudAntimicrobianos.Estado = 1
LEFT JOIN dbo.Servicios ON dbo.RecetaCabecera.idServicioReceta = dbo.Servicios.IdServicio ON dbo.FactPuntosCarga.IdPuntoCarga = dbo.RecetaCabecera.IdPuntoCarga 
LEFT JOIN TiposServicio ON TiposServicio.IdTipoServicio = Servicios.IdTipoServicio
LEFT JOIN dbo.Atenciones ON dbo.RecetaCabecera.idCuentaAtencion = dbo.Atenciones.IdCuentaAtencion 
LEFT JOIN dbo.Pacientes ON dbo.Atenciones.IdPaciente = dbo.Pacientes.IdPaciente
LEFT JOIN FirmasDigitales firma ON firma.idCuentaAtencion = RecetaCabecera.idCuentaAtencion AND firma.idRegistro = RecetaCabecera.idReceta AND firma.tipo = 'REC'
WHERE 
dbo.RecetaCabecera.idEstado = 1 and
--(@NroDocumento IS NULL OR Pacientes.ApellidoPaterno like @filtroAP) AND
(@NroDocumento = '' OR Pacientes.NroDocumento = @NroDocumento) AND
--(@NroHistoriaClinica = 0 OR Pacientes.ApellidoPaterno like @filtroAP) AND
(@NroHistoriaClinica = '' OR Pacientes.NroHistoriaClinica = @NroHistoriaClinica) AND
(@filtroAP IS NULL OR Pacientes.ApellidoPaterno like @filtroAP) AND
(@EsAntimicrobiano IS NULL OR @EsAntimicrobiano = 0 OR RecetaCabecera.EsRecetaAntimicrobiano = @EsAntimicrobiano) AND
(@NroHistoriaClinica <> '' OR @NroDocumento <> ''  OR dbo.RecetaCabecera.FechaReceta BETWEEN  @FechaInicio and  @FechaFinal) AND
(@IdPuntoCarga = 0 OR RecetaCabecera.IdPuntoCarga = @IdPuntoCarga)
ORDER BY dbo.Pacientes.ApellidoPaterno, dbo.Pacientes.ApellidoMaterno, RecetaCabecera.FechaReceta DESC

