USE [SIGH]
GO
/****** Object:  StoredProcedure [dbo].[Web_FacturacionCuentasAtencionAbrir]    Script Date: 5/5/2026 12:30:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
|     USUARIO     |     Fecha       |     Mejora
|-------------------------------------------------------------------------------------------------------------|
|     MGAMERO     |     2026-05-05  |     Se actualiza el estado de la cita a pendiente al reabrir la cuenta de atención.
|
*/

ALTER PROCEDURE [dbo].[Web_FacturacionCuentasAtencionAbrir]
(
	@IdCuentaAtencion INT,
	@IdUsuarioAuditoria INT,
	@IdListItem INT
)
as

BEGIN

	BEGIN TRANSACTION;
	BEGIN TRY

		update FacturacionCuentasAtencion
		set 
		IdEstado = 1,
		HoraCierre = null,
		FechaCierre = null,
		IdUsuarioModifica = @IdUsuarioAuditoria,
		FechaModificacion = getdate(),
		FechaCreacion=getdate(),
		totalPorPagar=0
		where IdCuentaAtencion = @IdCuentaAtencion 

		update Atenciones
		set FechaEgresoAdministrativo =null
		, HoraEgresoAdministrativo = null
		,idEstadoAtencion=1
		where IdCuentaAtencion = @IdCuentaAtencion

		--MGAMERO 2026.05.05
		UPDATE C
		SET C.IdEstadoCita = 1
		FROM Citas C
		INNER JOIN Atenciones A 
			ON C.IdAtencion = A.IdAtencion
		WHERE A.IdCuentaAtencion = @IdCuentaAtencion;


		EXEC AuditoriaAgregarV @IdUsuarioAuditoria, 'M', @IdCuentaAtencion, 'FacturacionCuentasAtencion', @IdListItem, 'WEB', 'Cuenta Abierta'

		SELECT 
			0 AS ErrorNumber,
			0 AS ErrorLine,
			'' AS ErrorMessage,
			0 AS WarningNumber,        
			'' AS WarningMessage,
			1 AS SuccessNumber,
			'' AS SuccessMessage,
			@IdCuentaAtencion IdCuentaAtencion

		COMMIT TRANSACTION

	END TRY
	BEGIN CATCH
		ROLLBACK; -- si algo falla, se revierte todo

		-- Capturar el número del error
		SELECT 
			ERROR_NUMBER() AS ErrorNumber,
			ERROR_LINE() AS ErrorLine,
			ERROR_MESSAGE() AS ErrorMessage,
			0 AS WarningNumber,        
			'' AS WarningMessage,
			0 AS SuccessNumber,
			'' AS SuccessMessage;
	END CATCH;

END
