USE [SIGH]
GO
/****** Object:  StoredProcedure [dbo].[web_InsertaRecetaDetallePacCronico]    Script Date: 21/04/2026 13:07:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[web_InsertaRecetaDetallePacCronico]  
    @idCuentaAtencionVin INT,  
    @idReceta INT,  
    @idReceta_1 INT OUTPUT,  
    @idReceta_2 INT OUTPUT, 
    @idCuentaAtencion1 INT OUTPUT,  
    @idCuentaAtencion2 INT OUTPUT, 
    @bTieneCuentaAsoc BIT OUTPUT  
AS  
BEGIN  
    SET NOCOUNT ON;  
    SET XACT_ABORT ON; -- si ocurre error en runtime, aborta la transaccion  
  
    SET @idReceta_1 = 0;  
    SET @idReceta_2 = 0;  
    SET @bTieneCuentaAsoc = 0;  
    DECLARE @DiasAtencion INT = 30;   
    BEGIN TRY  
        BEGIN TRAN;  
  
        DECLARE @estado INT;  
  
        SELECT TOP 1 @estado = IdEstado  
        FROM RecetaCabecera  
        WHERE IdReceta = @idReceta;  
  
        SET @bTieneCuentaAsoc = IIF(  
            EXISTS (  
                SELECT 1  
                FROM PacientesExtSegurosCtasVinculadas  
                WHERE IdCuentaAtencionVinculado = @idCuentaAtencionVin  
            ),  
            1, 0  
        );  
  
        IF @estado = 1 AND @bTieneCuentaAsoc = 1  
        BEGIN  
            PRINT 'Entro';  
  
            DECLARE @idCuentaAtencion_1 INT =  
            (  
                SELECT MIN(IdCuentaAtencion)  
                FROM PacientesExtSegurosCtasVinculadas  
                WHERE IdCuentaAtencionVinculado = @idCuentaAtencionVin  
            );  
  
            DECLARE @idCuentaAtencion_2 INT =  
            (  
                SELECT MAX(IdCuentaAtencion)  
                FROM PacientesExtSegurosCtasVinculadas  
                WHERE IdCuentaAtencionVinculado = @idCuentaAtencionVin  
            );  
  
            IF @idCuentaAtencion_1 IS NULL OR @idCuentaAtencion_2 IS NULL  
            BEGIN  
                set @idCuentaAtencion_1=0  
                set @idCuentaAtencion_2=0  
                set @bTieneCuentaAsoc=0  
                -- No hay cuentas asociadas reales  
                COMMIT;  
                RETURN;  
            END;  
  
            
          SELECT TOP 1 @idReceta_1 = rc.IdReceta  
            FROM RecetaCabecera rc  
            WHERE rc.IdCuentaAtencion = @idCuentaAtencion_1  
              AND rc.IdEstado = 1  
            ORDER BY rc.IdReceta DESC;  
  
            IF @idReceta_1 = 0  
            BEGIN  
                    -- RECETA 1  
                    INSERT INTO RecetaCabecera  
                    (  
                        IdPuntoCarga, FechaReceta, IdCuentaAtencion, idServicioReceta, idEstado,  
                        idMedicoReceta, fechaVigencia, IdFarmacia, NoCubreSOAT, ObservacionReceta,  
                        IdEspecialidadIC, ResumenHCInterconsulta, idMotivoInterConsulta, idPrioridadInterConsulta  
                    )  
                    SELECT  
                        rc.IdPuntoCarga,  
                        DATEADD(DAY, @DiasAtencion, rc.FechaReceta),  
                        pcv.IdCuentaAtencion,  
                        rc.idServicioReceta,  
                        rc.idEstado,  
                        rc.idMedicoReceta,  
                         DATEADD(DAY, @DiasAtencion, rc.fechaVigencia),
                        rc.IdFarmacia,  
                        rc.NoCubreSOAT,  
                        rc.ObservacionReceta,  
                        rc.IdEspecialidadIC,  
                        rc.ResumenHCInterconsulta,  
                        rc.idMotivoInterConsulta,  
                        rc.idPrioridadInterConsulta  
                    FROM PacientesExtSegurosCtasVinculadas pcv  
                    INNER JOIN Atenciones a  
                        ON pcv.IdCuentaAtencion = a.IdCuentaAtencion  
                    INNER JOIN RecetaCabecera rc  
                        ON rc.IdReceta = @idReceta  
                    WHERE pcv.IdCuentaAtencionVinculado = @idCuentaAtencionVin  
                      AND pcv.IdCuentaAtencion = @idCuentaAtencion_1;  
                    SET @idReceta_1 = SCOPE_IDENTITY();  
            END  
              
            SELECT TOP 1 @idReceta_2 = rc.IdReceta  
            FROM RecetaCabecera rc  
            WHERE rc.IdCuentaAtencion = @idCuentaAtencion_2  
              AND rc.IdEstado = 1  
            ORDER BY rc.IdReceta DESC;  
  
            IF @idReceta_2 = 0  
            BEGIN  
                 -- RECETA 2  
            INSERT INTO RecetaCabecera  
            (  
                IdPuntoCarga, FechaReceta, IdCuentaAtencion, idServicioReceta, idEstado,  
                idMedicoReceta, fechaVigencia, IdFarmacia, NoCubreSOAT, ObservacionReceta,  
                IdEspecialidadIC, ResumenHCInterconsulta, idMotivoInterConsulta, idPrioridadInterConsulta  
            )  
            SELECT  
                rc.IdPuntoCarga,  
                DATEADD(DAY, @DiasAtencion*2, rc.FechaReceta),  
                pcv.IdCuentaAtencion,  
                rc.idServicioReceta,  
                rc.idEstado,  
                rc.idMedicoReceta,  
                  DATEADD(DAY, @DiasAtencion*2, rc.fechaVigencia), --rc.fechaVigencia,  
                rc.IdFarmacia,  
                rc.NoCubreSOAT,  
                rc.ObservacionReceta,  
                rc.IdEspecialidadIC,  
                rc.ResumenHCInterconsulta,  
                rc.idMotivoInterConsulta,  
                rc.idPrioridadInterConsulta  
            FROM PacientesExtSegurosCtasVinculadas pcv  
            INNER JOIN Atenciones a  
                ON pcv.IdCuentaAtencion = a.IdCuentaAtencion  
            INNER JOIN RecetaCabecera rc  
                ON rc.IdReceta = @idReceta  
            WHERE pcv.IdCuentaAtencionVinculado = @idCuentaAtencionVin  
              AND pcv.IdCuentaAtencion = @idCuentaAtencion_2;  
            SET @idReceta_2 = SCOPE_IDENTITY();  
            end  
              
  
            -- Ajusta receta original  
            UPDATE RecetaDetalle  
            SET CantidadPedida = CantidadPedida / 3.0,  
                SaldoEnRegistroReceta = SaldoEnRegistroReceta / 3.0,  
                Duracion = 30  
            WHERE IdReceta = @idReceta;  
  
  
            delete RecetaDetalle where idReceta in (@idReceta_1,@idReceta_2)  
  
            -- Copia detalle a receta 1  
            INSERT INTO RecetaDetalle  
            (  
                idReceta, idItem, CantidadPedida, Precio, Total, SaldoEnRegistroReceta,  
                idDosisRecetada, idEstadoDetalle, observaciones, Duracion  
            )  
            SELECT  
                @idReceta_1, idItem, CantidadPedida, Precio, Total, SaldoEnRegistroReceta,  
                idDosisRecetada, 1, observaciones, Duracion  
            FROM RecetaDetalle  
            WHERE idReceta = @idReceta;  
  
            -- Copia detalle a receta 2  
            INSERT INTO RecetaDetalle  
            (  
                idReceta, idItem, CantidadPedida, Precio, Total, SaldoEnRegistroReceta,  
                idDosisRecetada, idEstadoDetalle, observaciones, Duracion  
            )  
            SELECT  
                @idReceta_2, idItem, CantidadPedida, Precio, Total, SaldoEnRegistroReceta,  
                idDosisRecetada, 1, observaciones, Duracion  
            FROM RecetaDetalle  
            WHERE idReceta = @idReceta;  



            set @idCuentaAtencion1=@idCuentaAtencion_1
            set @idCuentaAtencion2=@idCuentaAtencion_2
        END  
  
        COMMIT;  
    END TRY  
    BEGIN CATCH  
        IF @@TRANCOUNT > 0  
            ROLLBACK;  
  
        -- muestra detalle del error  
        SELECT  
            ERROR_NUMBER()    AS NumeroError,  
            ERROR_SEVERITY()  AS Severidad,  
            ERROR_STATE()     AS Estado,  
            ERROR_PROCEDURE() AS Procedimiento,  
            ERROR_LINE()      AS Linea,  
            ERROR_MESSAGE()   AS Mensaje;  
  
        -- relanza el error para que la app lo detecte  
        THROW;  
    END CATCH  
END