    
CREATE PROCEDURE [dbo].[web_AutorizacionExamenPersonalizado]-- 69514    
    @idCuentaAtencion INT    
AS    
BEGIN    
    
    
    
    -- PROCEDIMIENTO     
 DECLARE @Procedimiento varchar(max)   
  DECLARE @Servicio varchar(max)   
  
          
 SELECT TOP 1 @Procedimiento = fact.Nombre ,   
              @Servicio =isnull( UPPER(fpc.Descripcion),'')  
FROM RecetaCabecera rec      
RIGHT OUTER JOIN dbo.RecetaDetalle ON  RecetaDetalle.idreceta  = rec.idreceta    
LEFT JOIN FactCatalogoServicios fact On fact.IdProducto = RecetaDetalle.idItem    
LEFT JOIN FactPuntosCarga fpc ON fpc.IdPuntoCarga = rec.IdPuntoCarga      
LEFT JOIN Medicos med ON med.IdMedico = rec.idMedicoReceta      
LEFT JOIN Empleados emp ON emp.IdEmpleado = med.IdEmpleado      
LEFT JOIN RecetaEstados est ON est.idEstado = rec.idEstado      
LEFT JOIN SolicitudAntimicrobianos ON SolicitudAntimicrobianos.IdReceta = rec.idReceta AND SolicitudAntimicrobianos.Estado = 1      
LEFT JOIN Diagnosticos ON Diagnosticos.IdDiagnostico = rec.IdDiagnosticoIS      
LEFT JOIN FirmasDigitales firma ON firma.idCuentaAtencion = rec.idCuentaAtencion AND firma.idRegistro = rec.idReceta AND firma.tipo = 'REC'      
WHERE rec.idCuentaAtencion = @idCuentaAtencion AND rec.idEstado <> 0     
AND fpc.IdPuntoCarga  IN (21,701,702,703,2537,22,    
711,    
3594)     
ORDER BY rec.idReceta DESC       
        
    
    
    
  SELECT top 1    
    (isnull(p.ApellidoPaterno,'')+' '+isnull(p.ApellidoMaterno,'')+' '+isnull(p.PrimerNombre,'')+' '+isnull(p.SegundoNombre,'')) as Paciente    
   ,ISNULL(d1.CodigoCIE10, '') +' - '+ISNULL(d1.Descripcion, '') AS Diagnostico     
   ,@Procedimiento as Procedimiento    
   ,(select (isnull(m.ApellidoPaterno,'')+' '+isnull(m.ApellidoMaterno,'')+' '+isnull(m.Nombres,''))     
     from Empleados m with(nolock) where m.IdEmpleado=e.IdUsuario) as Medico    
   ,p.NroHistoriaClinica as NroHistoria    
   ,a.IdCuentaAtencion as NroCuenta    
   ,a.Edad AS Edad    
   , CASE WHEN P.IdTipoSexo=1 THEN 'MASCULINO' ELSE 'FEMENINO' END AS Sexo    
   ,@Servicio AS Servicio    
   ,isnull(P.NroDocumento,'') NroDocumento    
   ,p.fichafamiliar as CIP    
   ,tgi.Descripcion AS Grado    
   ,tp.Descripcion as dependencia    
   ,convert(varchar(10),e.fecha,103) as FechaEvaluacion    
   ,CASE WHEN e.HoraInicioAtencion IS NOT NULL THEN e.HoraInicioAtencion ELSE CONVERT(char(8), E.FECHA, 108) END AS HORA_Eval    
         ,case when Servicios.idtiposervicio=1 then 'X' else '' end as EsCE    
   ,case when Servicios.idtiposervicio=2 then 'X' else '' end as EsEmergencia    
   ,case when Servicios.idtiposervicio=3 then 'X' else '' end as EsHospitalizacion    
   ,Servicios.idtiposervicio    
   ,pcc.TitularNombre as Titular    
   ,e.seguimiento as resumen    
   from  EvaluacionEmergenciaDetalle  e with(nolock)    
   inner join EvaluacionEmergencia ee with(nolock) on ee.IdAtencion=e.IdAtencion    
   inner join Atenciones a with(nolock) on a.IdAtencion =e.IdAtencion    
   inner join Derivacion d with(nolock) on d.idAtencion=a.IdAtencion    
   inner join Pacientes p with(nolock) on p.IdPaciente =a.IdPaciente    
   INNER JOIN Servicios with(nolock) ON Servicios.IdServicio=a.IdServicioIngreso    
   LEFT JOIN AtencionesDiagnosticos ad1 ON ad1.IdAtencionDiagnostico   
   = (SELECT atdx.IdAtencionDiagnostico FROM (select ROW_NUMBER() OVER(ORDER BY ad.IdAtencionDiagnostico desc) AS Fila,   
            IdAtencionDiagnostico, IdDiagnostico, IdSubclasificacionDx   
            from AtencionesDiagnosticos ad   
            where ad.IdAtencion=e.IdAtencion and ad.NroEvaluacion = e.IdNumero  
            ) as atdx WHERE atdx.Fila = 1)    
   LEFT JOIN Diagnosticos d1 on d1.IdDiagnostico = ad1.IdDiagnostico    
   LEFT JOIN SubClasificacionDiagnosticos sd1 on sd1.IdSubclasificacionDx = ad1.IdSubclasificacionDx    
   LEFT JOIN TiposCondicionLaboral  tgi ON isnull(p.ParentescoPaciente,p.CondLaboral) = tgi.IdCondicion    
     
   LEFT JOIN TiposProcedencia tp  on tp.IdProcedencia=p.IdProcedencia       
    LEFT JOIN (select TitularNombre= pp.ApellidoPaterno + ' ' + pp.ApellidoMaterno + ' ' + isnull((isnull(pp.PrimerNombre,'')         
                 +' '+isnull( pp.SegundoNombre,'')),''),        
               TitularGrado =tgi.Descripcion,        
               TitularCIP =pp.FichaFamiliar,        
               TitularUnidadDependencia=tp.Descripcion,        
               TitularTelefono =isnull(pp.Celular,pp.Telefono),        
               pp.FichaFamiliar,        
               HistoriaTitular=pp.NroHistoriaClinica        
      from Pacientes pp         
      LEFT JOIN Pacientes2207 p2 ON p2.idpaciente = pp.idpaciente          
      LEFT JOIN TiposGradoInstruccion  tgi ON tgi.IdGradoInstruccion = pp.IdGradoInstruccion          
      LEFT JOIN TiposProcedencia tp  on tp.IdProcedencia=pp.IdProcedencia        
      LEFT JOIN UnidadPago up on up.idUnidadPago=pp.idUnidadPago        
      where  isnull(isnull(isnull(pp.ParentescoPaciente, p2.InfIdParentescoTitular),p2.CondLaboral),pp.CondLaboral)=0        
     ) pcc on pcc.fichafamiliar=p.fichafamiliar    
   WHERE  A.IdCuentaAtencion =@idCuentaAtencion     
   ORDER BY e.idNumero desc     
    
    
  
END    