USE [SIGH]
GO
/****** Object:  StoredProcedure [dbo].[usp_ListarAtencionesEmergencia]    Script Date: 24/4/2026 19:55:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [dbo].[usp_ListarAtencionesEmergencia]
(    
    /*
        HISTORIAL DE CAMBIOS:

        Fecha       Usuario   Descripción
        ----------  --------  -----------------------------------------------
        24/04/2026  MGAMERO   Se agregó el campo Parentesco.
		xx/04/2026  MGAMERO   Se agregó el campo GeneraPago.
    */
	@NroCuenta INT = NULL,
	@NroHistoria INT = NULL,
	@NroDocumento VARCHAR(10) = NULL,  
	@ApPaterno VARCHAR(20) = NULL,
	@IdServicio INT = NULL,
	@Fecha VARCHAR(10) = NULL,
	@FechaFin VARCHAR(10) = NULL,
	@TipoBusqueda int = NULL
	)    
	AS    
 
	BEGIN

	DECLARE @IdEstadoFacturacion INT = NULL
	DECLARE @FechaEgreso VARCHAR(10) = NULL
	DECLARE @FechaEgresoAdministrativo VARCHAR(10) = NULL

	IF @TipoBusqueda = 1
	BEGIN
		IF(@NroCuenta > 0 OR @NroHistoria > 0 OR @NroDocumento <> '' OR @ApPaterno <> '')
		BEGIN
			SET @IdServicio = 0
			SET @Fecha = NULL
			SET @FechaFin = NULL
		END	
		SET @FechaEgreso = ''
		SET @IdEstadoFacturacion = 0
		SET @FechaEgresoAdministrativo = ''
	END

	IF @TipoBusqueda = 2
	BEGIN
		SET @Fecha = NULL	
		SET @FechaFin = NULL
		SET @FechaEgreso = NULL
		SET @IdEstadoFacturacion = 0
		SET @FechaEgresoAdministrativo = ''
	END

	IF @TipoBusqueda = 3
	BEGIN	
		SET @Fecha = NULL	
		SET @FechaFin = NULL
		SET @FechaEgreso = ''
		SET @IdEstadoFacturacion = 12
		SET @FechaEgresoAdministrativo = ''
	END

	IF @TipoBusqueda = 4	
	BEGIN
		SET @Fecha = NULL
		SET @FechaFin = NULL
		SET @FechaEgreso = ''
		SET @IdEstadoFacturacion = 0
		SET @FechaEgresoAdministrativo = NULL
	END

	SELECT TOP 1000
	a.IdTipoServicio, 
	a.IdPaciente, 
	a.IdAtencion, 
	a.IdCuentaAtencion, 
	pc.ApellidoPaterno, 
	pc.ApellidoMaterno, 
	ISNULL(pc.PrimerNombre, '') AS PrimerNombre, 
	ISNULL(pc.SegundoNombre, '') AS SegundoNombre,
	Paciente = UPPER(ISNULL(pc.ApellidoPaterno, '') + ' ' + ISNULL(pc.ApellidoMaterno, '') + ' ' +  ISNULL(pc.PrimerNombre, '') + ' ' + ISNULL(pc.SegundoNombre, '') + ' ' + ISNULL(pc.TercerNombre, '')),
	ISNULL(pc.NroHistoriaClinica, '') AS NroHistoriaClinica, 
	dbo.TiposDocIdentidad.Descripcion AS TipoDocumento, 
	pc.NroDocumento,
	pc.FechaNacimiento AS FecNacim, 
	CONVERT(VARCHAR(10), pc.FechaNacimiento, 103) AS FechaNacimiento, 
	--CONVERT(VARCHAR(5), pc.FechaNacimiento, 108) AS HoraNacimiento, 
	HoraNacimiento = '00:00',
	--dbo.DevolverEdadPorAtencionEnAnio(pc.FechaNacimiento, a.FechaIngreso) AS EdadEnAnio,
	--dbo.DevolverEdadPorAtencionEnMes(pc.FechaNacimiento, a.FechaIngreso) AS EdadEnMes,
	--dbo.DevolverEdadPorAtencionEnDia(pc.FechaNacimiento, a.FechaIngreso) AS EdadEnDia,
	EdadEnAnio = 0,
	EdadEnMes = 0,
	EdadEnDia = 0,
	CONVERT(char(10), a.FechaIngreso, 103) AS FechaIngreso, 
	a.HoraIngreso, 
	CONVERT(char(10), a.FechaEgreso, 103) AS FechaEgreso, 
	a.HoraEgreso,
	a.IdServicioEgreso, 
	dbo.Servicios.Nombre AS ServicioActual, 
	dbo.Servicios.EsObservacionEmergencia AS EsObservacionEmergencia, 
	dbo.Servicios.IdEspecialidad,
	a.IdCamaIngreso,
	IdServicioActual = (SELECT TOP 1 IdServicio FROM AtencionesEstanciaHospitalaria WHERE AtencionesEstanciaHospitalaria.IdAtencion = a.IdAtencion ORDER BY Secuencia DESC),
	IdCamaActual = (SELECT TOP 1 IdCama FROM AtencionesEstanciaHospitalaria WHERE AtencionesEstanciaHospitalaria.IdAtencion = a.IdAtencion ORDER BY Secuencia DESC),
	CodigoCama = (SELECT TOP 1 Camas.Codigo FROM AtencionesEstanciaHospitalaria INNER JOIN Camas ON Camas.IdCama = AtencionesEstanciaHospitalaria.IdCama  WHERE AtencionesEstanciaHospitalaria.IdAtencion = a.IdAtencion ORDER BY Secuencia DESC),
	IdEstanciaHospitalariaActual = (SELECT TOP 1 IdEstanciaHospitalaria FROM AtencionesEstanciaHospitalaria WHERE AtencionesEstanciaHospitalaria.IdAtencion = a.IdAtencion AND AtencionesEstanciaHospitalaria.IdServicio = a.IdServicioEgreso  ORDER BY Secuencia DESC),
	llegoAlServicio = (SELECT TOP 1 LlegoAlServicio FROM AtencionesEstanciaHospitalaria WHERE AtencionesEstanciaHospitalaria.IdAtencion = a.IdAtencion AND AtencionesEstanciaHospitalaria.IdServicio = a.IdServicioEgreso ORDER BY Secuencia DESC),
	TipoModuloEmergencia = (CASE a.idFuenteFinanciamiento WHEN 24 THEN 'trabajador' ELSE ISNULL(dbo.Servicios.TipoModuloEmergencia, '') END), 
	a.Edad AS Edad, 
	pc.IdTipoNumeracion, 
	a.IdServicioIngreso, 
	si.Nombre AS ServicioIngreso, 
	pc.Telefono, 
	dbo.AtencionesDatosAdicionales.NombreAcompaniante AS Acompaniante,
	dbo.TiposNumeracionHistoria.Descripcion AS TipoNumeracion, 
	CONVERT(char(10), a.FechaEgresoAdministrativo, 103) AS FechaEgresoAdministrativo, 
	a.HoraEgresoAdministrativo, 
	dbo.FuentesFinanciamiento.IdFuenteFinanciamiento, 
	dbo.FuentesFinanciamiento.Descripcion AS [Plan], 
	dbo.FuentesFinanciamiento.IdTipoFinanciamiento, 
	a.idEstadoAtencion,
	a.idMedicoEgreso,
	a.IdMedicoIngreso,
	FacturacionCuentasAtencion.IdEstado AS IdEstadoFacturacion,
	pc.IdTipoSexo,
	pc.NroOrdenHijo,
	--(select count(IdAtencion) from EvaluacionEmergenciaDetalle where IdAtencion = a.IdAtencion AND idServicio = a.IdServicioEgreso) as CantEvaluacion,
	(select count(IdAtencion) from EvaluacionEmergenciaDetalle where IdAtencion = a.IdAtencion) as CantEvaluacion,
	(select top 1 convert(varchar(10),fechaRegistro,103)+' '+ convert(varchar(5),fechaRegistro,108) from EvaluacionEmergencia where IdAtencion =a.IdAtencion order by fechaRegistro ) as FechaPrimeraEvaluacion,
	(select Descripcion from ServiciosINMP where IdServicio = (select top 1 IdMotivoAtencion from Derivacion  where idAtencion=a.IdAtencion)) as TipoPaciente, 
	(select IdServicio from ServiciosINMP where IdServicio = (select top 1 IdMotivoAtencion from Derivacion  where idAtencion=a.IdAtencion)) as IdTipoPaciente,
	a.IdOrigenAtencion,
	ISNULL((SELECT Top 1 EvaluacionEmergencia.Prioridad FROM EvaluacionEmergencia WHERE EvaluacionEmergencia.IdAtencion = a.IdAtencion), a.IdTipoGravedad) AS IdTipoGravedad,
	ISNULL((SELECT Top 1 TiposGravedadAtencion.Descripcion FROM EvaluacionEmergencia INNER JOIN TiposGravedadAtencion ON TiposGravedadAtencion.IdTipoGravedad = EvaluacionEmergencia.Prioridad WHERE EvaluacionEmergencia.IdAtencion = a.IdAtencion), 
	(SELECT Top 1 TiposGravedadAtencion.Descripcion FROM Atenciones att INNER JOIN TiposGravedadAtencion ON TiposGravedadAtencion.IdTipoGravedad = att.IdTipoGravedad WHERE a.IdAtencion = att.IdAtencion)) AS TipoGravedad,
	ISNULL(a.DecretoUrgencia,0) as EsDecretoUrgencia,
	(select count(id) from FirmasDigitales where idCuentaAtencion = a.IdCuentaAtencion AND tipo = 'E-EVA') as CantFirmas,
	--Firmas.*,
	--RutaArchivoEmer = SUBSTRING(rutaArchivo, CHARINDEX('/HojasEvaluacionEmergencia', rutaArchivo), LEN(CAST(rutaArchivo AS varchar(MAX))) - CHARINDEX('/HojasEvaluacionEmergencia', rutaArchivo) +1),
	--FechaRegistroEvaluacion = (SELECT fechaRegistro FROM EvaluacionEmergencia WHERE IdAtencion = a.IdAtencion),
	CASE WHEN a.IdDestinoAtencion IS NULL THEN 0 WHEN a.IdDestinoAtencion > 0 THEN 1 END AS conAlta,
	ISNULL(FirmasDigitales.idCuentaAtencion, 0) AS idCuentaFua,
	ISNULL(FirmasDigitales.code, '0') AS codeFua,
	ISNULL(FirmasDigitales.statusFirma, 0) AS statusFirmaFua,

	EmisionReferencia.IdReferencia,								--KHOYOSI
	EmisionContraReferencia.IdContraReferencia,					--KHOYOSI
	CASE 
	WHEN EmisionReferencia.IdReferencia IS NOT NULL THEN (SELECT id FROM Firmas WHERE idRegistro = EmisionReferencia.IdReferencia AND tipo = 'RF')
	WHEN EmisionContraReferencia.IdContraReferencia IS NOT NULL THEN (SELECT id FROM Firmas WHERE idRegistro = EmisionContraReferencia.IdContraReferencia AND tipo = 'CRF')
	END AS idFirmaRefCon,			--KHOYOSI
	--CASE 
	--WHEN EmisionReferencia.IdReferencia IS NOT NULL THEN (SELECT SUBSTRING(rutaArchivo, CHARINDEX('/HojasRefCon', rutaArchivo), LEN(CAST(rutaArchivo AS varchar(MAX))) - CHARINDEX('/HojasRefCon', rutaArchivo) +1) FROM Firmas WHERE idRegistro = EmisionReferencia.IdReferencia AND tipo = 'RF')
	--WHEN EmisionContraReferencia.IdContraReferencia IS NOT NULL THEN (SELECT SUBSTRING(rutaArchivo, CHARINDEX('/HojasRefCon', rutaArchivo), LEN(CAST(rutaArchivo AS varchar(MAX))) - CHARINDEX('/HojasRefCon', rutaArchivo) +1) FROM Firmas WHERE idRegistro = EmisionContraReferencia.IdContraReferencia AND tipo = 'CRF')
	--END AS RutaArchivoRefCon,			--KHOYOSI
	CASE 
	WHEN EmisionReferencia.IdReferencia IS NOT NULL THEN (SELECT ruta FROM Firmas WHERE idRegistro = EmisionReferencia.IdReferencia AND tipo = 'RF')
	WHEN EmisionContraReferencia.IdContraReferencia IS NOT NULL THEN (SELECT ruta FROM Firmas WHERE idRegistro = EmisionContraReferencia.IdContraReferencia AND tipo = 'CRF')
	END AS rutaRefCon,			--KHOYOSI
	CASE 
	WHEN EmisionReferencia.IdReferencia IS NOT NULL THEN (SELECT statusFirma FROM Firmas WHERE idRegistro = EmisionReferencia.IdReferencia AND tipo = 'RF')
	WHEN EmisionContraReferencia.IdContraReferencia IS NOT NULL THEN (SELECT statusFirma FROM Firmas WHERE idRegistro = EmisionContraReferencia.IdContraReferencia AND tipo = 'CRF')
	END AS statusFirmaRefCon,			--KHOYOSI
	--CASE 
	--WHEN EmisionReferencia.IdReferencia IS NOT NULL THEN (SELECT code FROM Firmas WHERE idRegistro = EmisionReferencia.IdReferencia AND tipo = 'RF')
	--WHEN EmisionContraReferencia.IdContraReferencia IS NOT NULL THEN (SELECT code FROM Firmas WHERE idRegistro = EmisionContraReferencia.IdContraReferencia AND tipo = 'CRF')
	--END AS CodeRefCon,			--KHOYOSI
	CASE 
	WHEN EmisionReferencia.IdReferencia IS NOT NULL THEN (SELECT tipo FROM Firmas WHERE idRegistro = EmisionReferencia.IdReferencia AND tipo = 'RF')
	WHEN EmisionContraReferencia.IdContraReferencia IS NOT NULL THEN (SELECT tipo FROM Firmas WHERE idRegistro = EmisionContraReferencia.IdContraReferencia AND tipo = 'CRF')
	END AS TipoRefCon,			--KHOYOSI


	ISNULL(fdRef.code, '0') AS codeRef,
	ISNULL(fdRef.statusFirma, 0) AS statusFirmaRef,
	ISNULL(fdRef.idEmpleado, 0) AS idEmpleadoFirmaRef,

	ISNULL(fdCRef.code, '0') AS codeCRef,
	ISNULL(fdCRef.statusFirma, 0) AS statusFirmaCRef,
	ISNULL(fdCRef.idEmpleado, 0) AS idEmpleadoFirmaCRef
	/*RMOREANO CAMPOS DE TITULAR 28032026*/
	,pcc.*
	,AtencionesDatosAdicionales.ObservacionAltaMedica

	,codePapeletaEgreso =(SELECT top 1 
	                                   ISNULL(code,'')
				                       
							  FROM FirmasDigitales fd 
							  WHERE fd.tipo='E-PE' and fd.idCuentaAtencion=a.IdCuentaAtencion AND fd.IdEstado = 1
							  ORDER BY fechaRegistra DESC),
	statusFirmaPapeletaEgreso=(SELECT top 1 	                                   
				                       ISNULL(statusFirma,0)
							  FROM FirmasDigitales fd 
							  WHERE fd.tipo='E-PE' and fd.idCuentaAtencion=a.IdCuentaAtencion AND fd.IdEstado = 1
							  ORDER BY fechaRegistra DESC),
	--KHOYOSI
	TiposFinanciamiento.generaPago GeneraPago,

	FacturacionCuentasAtencion.IdEstado as IdEstadoFacturacion,
	ef.Descripcion AS EstadoFacturacion,
	--RMOREANO
	AtencionesDatosAdicionales.TieneDescansoMed,
	AtencionesDatosAdicionales.FechaInicioDescansoMed,
	AtencionesDatosAdicionales.FechaFinDescansoMed,
	codeDescansoMed =(SELECT top 1 
	                                  ISNULL( code,'')
				                       
							  FROM FirmasDigitales fd 
							  WHERE fd.tipo='E-PDM' and fd.idCuentaAtencion=a.IdCuentaAtencion AND fd.IdEstado = 1
							  ORDER BY fechaRegistra DESC),
	statusFirmaDescansoMed=(SELECT top 1 	                                   
				                       ISNULL(statusFirma,0)
							  FROM FirmasDigitales fd 
							  WHERE fd.tipo='E-PDM' and fd.idCuentaAtencion=a.IdCuentaAtencion AND fd.IdEstado = 1
							  ORDER BY fechaRegistra DESC),
	Parentesco =  cl1.Descripcion
	FROM dbo.Atenciones a
	INNER JOIN dbo.FacturacionCuentasAtencion ON a.IdCuentaAtencion = dbo.FacturacionCuentasAtencion.IdCuentaAtencion AND dbo.FacturacionCuentasAtencion.IdEstado <> 9
	LEFT JOIN EstadosFacturacion ef ON EF.IdEstadoFacturacion = FacturacionCuentasAtencion.IdEstado
	LEFT OUTER JOIN dbo.FuentesFinanciamiento ON a.idFuenteFinanciamiento = dbo.FuentesFinanciamiento.IdFuenteFinanciamiento 
	LEFT OUTER JOIN dbo.Servicios ON a.IdServicioEgreso = dbo.Servicios.IdServicio 
	LEFT OUTER JOIN dbo.Servicios si ON a.IdServicioIngreso = si.IdServicio 
	LEFT OUTER JOIN dbo.pacientes pc ON a.IdPaciente = pc.IdPaciente	
	LEFT OUTER JOIN (		
		SELECT p.cip, p.NroDocumento
		from pacientenuevo p
		group by p.cip, p.NroDocumento
	) pn ON pc.NroDocumento = pn.NroDocumento
	 
	LEFT OUTER JOIN dbo.TiposDocIdentidad ON dbo.TiposDocIdentidad.IdDocIdentidad = pc.IdDocIdentidad
	LEFT OUTER JOIN dbo.AtencionesDatosAdicionales ON a.IdAtencion = dbo.AtencionesDatosAdicionales.idAtencion 
	LEFT OUTER JOIN dbo.FirmasDigitales ON dbo.FirmasDigitales.idCuentaAtencion = a.idCuentaAtencion AND dbo.FirmasDigitales.idRegistro = a.IdCuentaAtencion AND dbo.FirmasDigitales.tipo = 'FUA'
	LEFT OUTER JOIN dbo.TiposNumeracionHistoria ON pc.IdTipoNumeracion = dbo.TiposNumeracionHistoria.IdTipoNumeracion 
	LEFT JOIN EmisionReferencia ON EmisionReferencia.IdCuentaAtencion = a.IdCuentaAtencion	AND EmisionReferencia.Estado = 1	--KHOYOSI
	LEFT JOIN EmisionContraReferencia ON EmisionContraReferencia.IdCuentaAtencion = a.IdCuentaAtencion	AND EmisionContraReferencia.Estado = 1		--KHOYOSI
	LEFT JOIN FirmasDigitales fdRef ON fdRef.idCuentaAtencion=a.IdCuentaAtencion AND fdRef.idRegistro=EmisionReferencia.IdReferencia AND fdRef.idTipoServicio = a.IdTipoServicio AND fdRef.idServicio=a.IdServicioIngreso AND fdRef.idEvaluacion=0 /*AND fdRef.idEmpleado=Medicos.IdEmpleado*/ AND fdRef.tipo='RF'
	LEFT JOIN FirmasDigitales fdCRef ON fdCRef.idCuentaAtencion=a.IdCuentaAtencion AND fdCRef.idRegistro=EmisionContraReferencia.IdContraReferencia AND fdCRef.idTipoServicio = a.IdTipoServicio AND fdCRef.idServicio=a.IdServicioIngreso /*AND fdCRef.idEvaluacion=0 AND fdCRef.idEmpleado=Medicos.IdEmpleado*/ AND fdCRef.tipo='CRF'
	
	LEFT JOIN (select TitularNombre= pp.ApellidoPaterno + ' ' + pp.ApellidoMaterno + ' ' + isnull((isnull(pp.PrimerNombre,'') 
                 +' '+isnull( pp.SegundoNombre,'')),''),
               TitularGrado =tgi.Descripcion,
               TitularCIP =pp.FichaFamiliar,
               UnidadDependencia=tp.Descripcion,
               TitularTelefono =isnull(pp.Celular,pp.Telefono),
               pp.FichaFamiliar,
               HistoriaTitular=pp.NroHistoriaClinica
			   from Pacientes pp
				 --left join pacienteNuevo pn on pn.nroDocumento = pp.NroDocumento
			   LEFT JOIN Pacientes2207 p2 ON p2.idpaciente = pp.idpaciente  
			   LEFT JOIN TiposGradoInstruccion  tgi ON tgi.IdGradoInstruccion = pp.IdGradoInstruccion  
			   LEFT JOIN TiposProcedencia tp  on tp.IdProcedencia=pp.IdProcedencia
			   LEFT JOIN UnidadPago up on up.idUnidadPago=pp.idUnidadPago
			   where  isnull(isnull(isnull(pp.ParentescoPaciente, p2.InfIdParentescoTitular),p2.CondLaboral),pp.CondLaboral)=0
				 /*group by pp.ApellidoPaterno ,pp.ApellidoMaterno ,pp.PrimerNombre,pp.SegundoNombre
               ,tgi.Descripcion,
               pp.FichaFamiliar,
               tp.Descripcion,
               pp.Celular,pp.Telefono,
               pp.FichaFamiliar,
               pp.NroHistoriaClinica*/
			  ) pcc on pcc.fichafamiliar=pc.fichafamiliar or pcc.fichafamiliar=pn.cip
				
	OUTER APPLY dbo.fn_SelectBuscarFuentePorDNI(pc.NroDocumento) tf
	
	LEFT JOIN TiposFinanciamiento ON TiposFinanciamiento.IdTipoFinanciamiento = tf.idTipoFinanciamiento 

	LEFT JOIN TiposCondicionLaboral cl1 ON pc.CondLaboral = cl1.IdCondicion

	WHERE
	(a.IdCuentaAtencion = @NroCuenta OR @NroCuenta = 0) AND
	(pc.NroHistoriaClinica = @NroHistoria OR @NroHistoria = 0) AND
	(pc.NroDocumento = @NroDocumento OR @NroDocumento = '') AND
	(pc.ApellidoPaterno = @ApPaterno OR @ApPaterno = '' OR @ApPaterno = '') AND
	(@Fecha IS NULL OR @FechaFin IS NULL OR CONVERT(DATE, a.FechaIngreso) BETWEEN CONVERT(DATE, @Fecha) AND CONVERT(DATE, @FechaFin)) AND
	(a.IdServicioEgreso = @IdServicio OR @IdServicio = 0) AND
	a.IdTipoServicio IN (2,4) AND
	a.EsPacienteExterno <> 1 AND
	(@FechaEgreso = '' OR a.FechaEgreso IS NULL) AND
	(@IdEstadoFacturacion = 0 OR FacturacionCuentasAtencion.IdEstado = @IdEstadoFacturacion) AND
	(@FechaEgresoAdministrativo = '' OR a.FechaEgresoAdministrativo IS NULL)
	ORDER BY conAlta, CantEvaluacion, TipoGravedad,  a.FechaIngreso, a.HoraIngreso, a.FechaEgreso, a.HoraEgreso  ASC

	END