
.parpadea {
    animation-name: parpadeo;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
    -webkit-animation-name: parpadeo;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 5;
    
}

@-moz-keyframes parpadeo {
    0% {
        opacity: 1.0;
        color: black;
    }

    50% {
        opacity: 0.0;
        color: black;
    }

    100% {
        opacity: 1.0;
        color: black;
    }
}

@-webkit-keyframes parpadeo {
    0% {
        opacity: 1.0;
        color: black;
    }

    50% {
        opacity: 0.0;
        color: black;
    }

    100% {
        opacity: 1.0;
        color: black;
    }
}

@keyframes parpadeo {
    0% {
        opacity: 1.0;
        color: black;
    }

    50% {
        opacity: 0.0;
        color: black;
    }

    100% {
        opacity: 1.0;
        color: black;
    }
}
