/*RMOREANO SE AGREGO NUEVOS CAMPOS PARA EL ALTA MEDICA*/

ALTER PROCEDURE [dbo].[web_ListarAtencionesEmergencia] 
(    
	@NroCuenta INT = NULL,
	@NroHistoria INT = NULL,
	@NroDocumento VARCHAR(10) = NULL,  
	@ApPaterno VARCHAR(20) = NULL,
	@IdServicio INT = NULL,
	@Fecha VARCHAR(10) = NULL,
	@FechaFin VARCHAR(10) = NULL,
	@TipoBusqueda int = NULL
	)    
	AS    
 
	BEGIN

	DECLARE @IdEstadoFacturacion INT = NULL
	DECLARE @FechaEgreso VARCHAR(10) = NULL
	DECLARE @FechaEgresoAdministrativo VARCHAR(10) = NULL

	IF @TipoBusqueda = 1
	BEGIN
		IF(@NroCuenta > 0 OR @NroHistoria > 0 OR @NroDocumento <> '' OR @ApPaterno <> '')
		BEGIN
			SET @IdServicio = 0
			SET @Fecha = NULL
			SET @FechaFin = NULL
		END	
		SET @FechaEgreso = ''
		SET @IdEstadoFacturacion = 0
		SET @FechaEgresoAdministrativo = ''
	END

	IF @TipoBusqueda = 2
	BEGIN
		SET @Fecha = NULL	
		SET @FechaFin = NULL
		SET @FechaEgreso = NULL
		SET @IdEstadoFacturacion = 0
		SET @FechaEgresoAdministrativo = ''
	END

	IF @TipoBusqueda = 3
	BEGIN	
		SET @Fecha = NULL	
		SET @FechaFin = NULL
		SET @FechaEgreso = ''
		SET @IdEstadoFacturacion = 12
		SET @FechaEgresoAdministrativo = ''
	END

	IF @TipoBusqueda = 4	
	BEGIN
		SET @Fecha = NULL
		SET @FechaFin = NULL
		SET @FechaEgreso = ''
		SET @IdEstadoFacturacion = 0
		SET @FechaEgresoAdministrativo = NULL
	END

	SELECT TOP 1000
	dbo.Atenciones.IdTipoServicio, 
	dbo.Atenciones.IdPaciente, 
	dbo.Atenciones.IdAtencion, 
	dbo.Atenciones.IdCuentaAtencion, 
	pc.ApellidoPaterno, 
	pc.ApellidoMaterno, 
	ISNULL(pc.PrimerNombre, '') AS PrimerNombre, 
	ISNULL(pc.SegundoNombre, '') AS SegundoNombre,
	Paciente = UPPER(ISNULL(pc.ApellidoPaterno, '') + ' ' + ISNULL(pc.ApellidoMaterno, '') + ' ' +  ISNULL(pc.PrimerNombre, '') + ' ' + ISNULL(pc.SegundoNombre, '') + ' ' + ISNULL(pc.TercerNombre, '')),
	ISNULL(pc.NroHistoriaClinica, '') AS NroHistoriaClinica, 
	dbo.TiposDocIdentidad.Descripcion AS TipoDocumento, 
	pc.NroDocumento,
	pc.FechaNacimiento AS FecNacim, 
	CONVERT(VARCHAR(10), pc.FechaNacimiento, 103) AS FechaNacimiento, 
	--CONVERT(VARCHAR(5), pc.FechaNacimiento, 108) AS HoraNacimiento, 
	HoraNacimiento = '00:00',
	--dbo.DevolverEdadPorAtencionEnAnio(pc.FechaNacimiento, Atenciones.FechaIngreso) AS EdadEnAnio,
	--dbo.DevolverEdadPorAtencionEnMes(pc.FechaNacimiento, Atenciones.FechaIngreso) AS EdadEnMes,
	--dbo.DevolverEdadPorAtencionEnDia(pc.FechaNacimiento, Atenciones.FechaIngreso) AS EdadEnDia,
	EdadEnAnio = 0,
	EdadEnMes = 0,
	EdadEnDia = 0,
	CONVERT(char(10), dbo.Atenciones.FechaIngreso, 103) AS FechaIngreso, 
	dbo.Atenciones.HoraIngreso, 
	CONVERT(char(10), dbo.Atenciones.FechaEgreso, 103) AS FechaEgreso, 
	dbo.Atenciones.HoraEgreso,
	dbo.Atenciones.IdServicioEgreso, 
	dbo.Servicios.Nombre AS ServicioActual, 
	dbo.Servicios.EsObservacionEmergencia AS EsObservacionEmergencia, 
	dbo.Servicios.IdEspecialidad,
	Atenciones.IdCamaIngreso,
	IdServicioActual = (SELECT TOP 1 IdServicio FROM AtencionesEstanciaHospitalaria WHERE AtencionesEstanciaHospitalaria.IdAtencion = Atenciones.IdAtencion ORDER BY Secuencia DESC),
	IdCamaActual = (SELECT TOP 1 IdCama FROM AtencionesEstanciaHospitalaria WHERE AtencionesEstanciaHospitalaria.IdAtencion = Atenciones.IdAtencion ORDER BY Secuencia DESC),
	CodigoCama = (SELECT TOP 1 Camas.Codigo FROM AtencionesEstanciaHospitalaria INNER JOIN Camas ON Camas.IdCama = AtencionesEstanciaHospitalaria.IdCama  WHERE AtencionesEstanciaHospitalaria.IdAtencion = Atenciones.IdAtencion ORDER BY Secuencia DESC),
	IdEstanciaHospitalariaActual = (SELECT TOP 1 IdEstanciaHospitalaria FROM AtencionesEstanciaHospitalaria WHERE AtencionesEstanciaHospitalaria.IdAtencion = Atenciones.IdAtencion AND AtencionesEstanciaHospitalaria.IdServicio = dbo.Atenciones.IdServicioEgreso  ORDER BY Secuencia DESC),
	llegoAlServicio = (SELECT TOP 1 LlegoAlServicio FROM AtencionesEstanciaHospitalaria WHERE AtencionesEstanciaHospitalaria.IdAtencion = dbo.Atenciones.IdAtencion AND AtencionesEstanciaHospitalaria.IdServicio = dbo.Atenciones.IdServicioEgreso ORDER BY Secuencia DESC),
	TipoModuloEmergencia = (CASE Atenciones.idFuenteFinanciamiento WHEN 24 THEN 'trabajador' ELSE ISNULL(dbo.Servicios.TipoModuloEmergencia, '') END), 
	dbo.Atenciones.Edad AS Edad, 
	pc.IdTipoNumeracion, 
	dbo.Atenciones.IdServicioIngreso, 
	si.Nombre AS ServicioIngreso, 
	pc.Telefono, 
	dbo.AtencionesDatosAdicionales.NombreAcompaniante AS Acompaniante,
	dbo.TiposNumeracionHistoria.Descripcion AS TipoNumeracion, 
	CONVERT(char(10), dbo.Atenciones.FechaEgresoAdministrativo, 103) AS FechaEgresoAdministrativo, 
	dbo.Atenciones.HoraEgresoAdministrativo, 
	dbo.FuentesFinanciamiento.IdFuenteFinanciamiento, 
	dbo.FuentesFinanciamiento.Descripcion AS [Plan], 
	dbo.FuentesFinanciamiento.IdTipoFinanciamiento, 
	dbo.Atenciones.idEstadoAtencion,
	dbo.atenciones.idMedicoEgreso,
	atenciones.IdMedicoIngreso,
	FacturacionCuentasAtencion.IdEstado AS IdEstadoFacturacion,
	pc.IdTipoSexo,
	pc.NroOrdenHijo,
	--(select count(IdAtencion) from EvaluacionEmergenciaDetalle where IdAtencion = Atenciones.IdAtencion AND idServicio = Atenciones.IdServicioEgreso) as CantEvaluacion,
	(select count(IdAtencion) from EvaluacionEmergenciaDetalle where IdAtencion = Atenciones.IdAtencion) as CantEvaluacion,
	(select top 1 convert(varchar(10),fechaRegistro,103)+' '+ convert(varchar(5),fechaRegistro,108) from EvaluacionEmergencia where IdAtencion =Atenciones.IdAtencion order by fechaRegistro ) as FechaPrimeraEvaluacion,
	(select Descripcion from ServiciosINMP where IdServicio = (select top 1 IdMotivoAtencion from Derivacion  where idAtencion=Atenciones.IdAtencion)) as TipoPaciente, 
	(select IdServicio from ServiciosINMP where IdServicio = (select top 1 IdMotivoAtencion from Derivacion  where idAtencion=Atenciones.IdAtencion)) as IdTipoPaciente,
	dbo.Atenciones.IdOrigenAtencion,
	ISNULL((SELECT Top 1 EvaluacionEmergencia.Prioridad FROM EvaluacionEmergencia WHERE EvaluacionEmergencia.IdAtencion = Atenciones.IdAtencion), Atenciones.IdTipoGravedad) AS IdTipoGravedad,
	ISNULL((SELECT Top 1 TiposGravedadAtencion.Descripcion FROM EvaluacionEmergencia INNER JOIN TiposGravedadAtencion ON TiposGravedadAtencion.IdTipoGravedad = EvaluacionEmergencia.Prioridad WHERE EvaluacionEmergencia.IdAtencion = Atenciones.IdAtencion), 
	(SELECT Top 1 TiposGravedadAtencion.Descripcion FROM Atenciones att INNER JOIN TiposGravedadAtencion ON TiposGravedadAtencion.IdTipoGravedad = att.IdTipoGravedad WHERE Atenciones.IdAtencion = att.IdAtencion)) AS TipoGravedad,
	ISNULL(atenciones.DecretoUrgencia,0) as EsDecretoUrgencia,
	(select count(id) from FirmasDigitales where idCuentaAtencion = Atenciones.IdCuentaAtencion AND tipo = 'E-EVA') as CantFirmas,
	--Firmas.*,
	--RutaArchivoEmer = SUBSTRING(rutaArchivo, CHARINDEX('/HojasEvaluacionEmergencia', rutaArchivo), LEN(CAST(rutaArchivo AS varchar(MAX))) - CHARINDEX('/HojasEvaluacionEmergencia', rutaArchivo) +1),
	--FechaRegistroEvaluacion = (SELECT fechaRegistro FROM EvaluacionEmergencia WHERE IdAtencion = dbo.Atenciones.IdAtencion),
	CASE WHEN dbo.Atenciones.IdDestinoAtencion IS NULL THEN 0 WHEN dbo.Atenciones.IdDestinoAtencion > 0 THEN 1 END AS conAlta,
	ISNULL(FirmasDigitales.idCuentaAtencion, 0) AS idCuentaFua,
	ISNULL(FirmasDigitales.code, '0') AS codeFua,
	ISNULL(FirmasDigitales.statusFirma, 0) AS statusFirmaFua,

	EmisionReferencia.IdReferencia,								--KHOYOSI
	EmisionContraReferencia.IdContraReferencia,					--KHOYOSI
	CASE 
	WHEN EmisionReferencia.IdReferencia IS NOT NULL THEN (SELECT id FROM Firmas WHERE idRegistro = EmisionReferencia.IdReferencia AND tipo = 'RF')
	WHEN EmisionContraReferencia.IdContraReferencia IS NOT NULL THEN (SELECT id FROM Firmas WHERE idRegistro = EmisionContraReferencia.IdContraReferencia AND tipo = 'CRF')
	END AS idFirmaRefCon,			--KHOYOSI
	--CASE 
	--WHEN EmisionReferencia.IdReferencia IS NOT NULL THEN (SELECT SUBSTRING(rutaArchivo, CHARINDEX('/HojasRefCon', rutaArchivo), LEN(CAST(rutaArchivo AS varchar(MAX))) - CHARINDEX('/HojasRefCon', rutaArchivo) +1) FROM Firmas WHERE idRegistro = EmisionReferencia.IdReferencia AND tipo = 'RF')
	--WHEN EmisionContraReferencia.IdContraReferencia IS NOT NULL THEN (SELECT SUBSTRING(rutaArchivo, CHARINDEX('/HojasRefCon', rutaArchivo), LEN(CAST(rutaArchivo AS varchar(MAX))) - CHARINDEX('/HojasRefCon', rutaArchivo) +1) FROM Firmas WHERE idRegistro = EmisionContraReferencia.IdContraReferencia AND tipo = 'CRF')
	--END AS RutaArchivoRefCon,			--KHOYOSI
	CASE 
	WHEN EmisionReferencia.IdReferencia IS NOT NULL THEN (SELECT ruta FROM Firmas WHERE idRegistro = EmisionReferencia.IdReferencia AND tipo = 'RF')
	WHEN EmisionContraReferencia.IdContraReferencia IS NOT NULL THEN (SELECT ruta FROM Firmas WHERE idRegistro = EmisionContraReferencia.IdContraReferencia AND tipo = 'CRF')
	END AS rutaRefCon,			--KHOYOSI
	CASE 
	WHEN EmisionReferencia.IdReferencia IS NOT NULL THEN (SELECT statusFirma FROM Firmas WHERE idRegistro = EmisionReferencia.IdReferencia AND tipo = 'RF')
	WHEN EmisionContraReferencia.IdContraReferencia IS NOT NULL THEN (SELECT statusFirma FROM Firmas WHERE idRegistro = EmisionContraReferencia.IdContraReferencia AND tipo = 'CRF')
	END AS statusFirmaRefCon,			--KHOYOSI
	--CASE 
	--WHEN EmisionReferencia.IdReferencia IS NOT NULL THEN (SELECT code FROM Firmas WHERE idRegistro = EmisionReferencia.IdReferencia AND tipo = 'RF')
	--WHEN EmisionContraReferencia.IdContraReferencia IS NOT NULL THEN (SELECT code FROM Firmas WHERE idRegistro = EmisionContraReferencia.IdContraReferencia AND tipo = 'CRF')
	--END AS CodeRefCon,			--KHOYOSI
	CASE 
	WHEN EmisionReferencia.IdReferencia IS NOT NULL THEN (SELECT tipo FROM Firmas WHERE idRegistro = EmisionReferencia.IdReferencia AND tipo = 'RF')
	WHEN EmisionContraReferencia.IdContraReferencia IS NOT NULL THEN (SELECT tipo FROM Firmas WHERE idRegistro = EmisionContraReferencia.IdContraReferencia AND tipo = 'CRF')
	END AS TipoRefCon,			--KHOYOSI


	ISNULL(fdRef.code, '0') AS codeRef,
	ISNULL(fdRef.statusFirma, 0) AS statusFirmaRef,
	ISNULL(fdRef.idEmpleado, 0) AS idEmpleadoFirmaRef,

	ISNULL(fdCRef.code, '0') AS codeCRef,
	ISNULL(fdCRef.statusFirma, 0) AS statusFirmaCRef,
	ISNULL(fdCRef.idEmpleado, 0) AS idEmpleadoFirmaCRef
	/*RMOREANO CAMPOS DE TITULAR 28032026*/
	,pcc.*
	,AtencionesDatosAdicionales.ObservacionAltaMedica

	FROM dbo.Atenciones 
	INNER JOIN dbo.FacturacionCuentasAtencion ON dbo.Atenciones.IdCuentaAtencion = dbo.FacturacionCuentasAtencion.IdCuentaAtencion AND dbo.FacturacionCuentasAtencion.IdEstado <> 9
	LEFT OUTER JOIN dbo.FuentesFinanciamiento ON dbo.Atenciones.idFuenteFinanciamiento = dbo.FuentesFinanciamiento.IdFuenteFinanciamiento 
	LEFT OUTER JOIN dbo.Servicios ON dbo.Atenciones.IdServicioEgreso = dbo.Servicios.IdServicio 
	LEFT OUTER JOIN dbo.Servicios si ON dbo.Atenciones.IdServicioIngreso = si.IdServicio 
	LEFT OUTER JOIN dbo.pacientes pc ON dbo.Atenciones.IdPaciente = pc.IdPaciente 
	LEFT OUTER JOIN dbo.TiposDocIdentidad ON dbo.TiposDocIdentidad.IdDocIdentidad = pc.IdDocIdentidad
	LEFT OUTER JOIN dbo.AtencionesDatosAdicionales ON dbo.Atenciones.IdAtencion = dbo.AtencionesDatosAdicionales.idAtencion 
	LEFT OUTER JOIN dbo.FirmasDigitales ON dbo.FirmasDigitales.idCuentaAtencion = Atenciones.idCuentaAtencion AND dbo.FirmasDigitales.idRegistro = Atenciones.IdCuentaAtencion AND dbo.FirmasDigitales.tipo = 'FUA'
	LEFT OUTER JOIN dbo.TiposNumeracionHistoria ON pc.IdTipoNumeracion = dbo.TiposNumeracionHistoria.IdTipoNumeracion 


	LEFT JOIN EmisionReferencia ON EmisionReferencia.IdCuentaAtencion = Atenciones.IdCuentaAtencion	AND EmisionReferencia.Estado = 1	--KHOYOSI
	LEFT JOIN EmisionContraReferencia ON EmisionContraReferencia.IdCuentaAtencion = Atenciones.IdCuentaAtencion	AND EmisionContraReferencia.Estado = 1		--KHOYOSI

	LEFT JOIN FirmasDigitales fdRef ON fdRef.idCuentaAtencion=Atenciones.IdCuentaAtencion AND fdRef.idRegistro=EmisionReferencia.IdReferencia AND fdRef.idTipoServicio = Atenciones.IdTipoServicio AND fdRef.idServicio=Atenciones.IdServicioIngreso AND fdRef.idEvaluacion=0 /*AND fdRef.idEmpleado=Medicos.IdEmpleado*/ AND fdRef.tipo='RF'
	LEFT JOIN FirmasDigitales fdCRef ON fdCRef.idCuentaAtencion=Atenciones.IdCuentaAtencion AND fdCRef.idRegistro=EmisionContraReferencia.IdContraReferencia AND fdCRef.idTipoServicio = Atenciones.IdTipoServicio AND fdCRef.idServicio=Atenciones.IdServicioIngreso /*AND fdCRef.idEvaluacion=0 AND fdCRef.idEmpleado=Medicos.IdEmpleado*/ AND fdCRef.tipo='CRF'
	LEFT JOIN (select TitularNombre= pp.ApellidoPaterno + ' ' + pp.ApellidoMaterno + ' ' + isnull((isnull(pp.PrimerNombre,'') 
                 +' '+isnull( pp.SegundoNombre,'')),''),
               TitularGrado =tgi.Descripcion,
               TitularCIP =pp.FichaFamiliar,
               UnidadDependencia=tp.Descripcion,
               TitularTelefono =isnull(pp.Celular,pp.Telefono),
               pp.FichaFamiliar,
               HistoriaTitular=pp.NroHistoriaClinica
			   from Pacientes pp 
			   LEFT JOIN Pacientes2207 p2 ON p2.idpaciente = pp.idpaciente  
			   LEFT JOIN TiposGradoInstruccion  tgi ON tgi.IdGradoInstruccion = pp.IdGradoInstruccion  
			   LEFT JOIN TiposProcedencia tp  on tp.IdProcedencia=pp.IdProcedencia
			   LEFT JOIN UnidadPago up on up.idUnidadPago=pp.idUnidadPago
			   where  isnull(isnull(isnull(pp.ParentescoPaciente, p2.InfIdParentescoTitular),p2.CondLaboral),pp.CondLaboral)=0
			  ) pcc on pcc.fichafamiliar=pc.fichafamiliar 
	WHERE
	(Atenciones.IdCuentaAtencion = @NroCuenta OR @NroCuenta = 0) AND
	(pc.NroHistoriaClinica = @NroHistoria OR @NroHistoria = 0) AND
	(pc.NroDocumento = @NroDocumento OR @NroDocumento = '') AND
	(pc.ApellidoPaterno = @ApPaterno OR @ApPaterno = '' OR @ApPaterno = '') AND
	(@Fecha IS NULL OR @FechaFin IS NULL OR CONVERT(DATE, Atenciones.FechaIngreso) BETWEEN CONVERT(DATE, @Fecha) AND CONVERT(DATE, @FechaFin)) AND
	(Atenciones.IdServicioEgreso = @IdServicio OR @IdServicio = 0) AND
	Atenciones.IdTipoServicio IN (2,4) AND
	Atenciones.EsPacienteExterno <> 1 AND
	(@FechaEgreso = '' OR Atenciones.FechaEgreso IS NULL) AND
	(@IdEstadoFacturacion = 0 OR FacturacionCuentasAtencion.IdEstado = @IdEstadoFacturacion) AND
	(@FechaEgresoAdministrativo = '' OR Atenciones.FechaEgresoAdministrativo IS NULL)
	ORDER BY conAlta, CantEvaluacion, TipoGravedad,  Atenciones.FechaIngreso, Atenciones.HoraIngreso, Atenciones.FechaEgreso, Atenciones.HoraEgreso  ASC
	--ORDER BY Atenciones.IdCuentaAtencion DESC
	--ORDER BY Atenciones.FechaIngreso, Atenciones.HoraIngreso, Pacientes.ApellidoPaterno, Pacientes.ApellidoMaterno, Pacientes.PrimerNombre DESC

	END

