USE [SIGH]
GO
/****** Object:  StoredProcedure [dbo].[web_rptEpidemiologico]    Script Date: 24/04/2026 20:24:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[web_rptEpidemiologico]

@FechaInicio DATETIME,
@FechaFin DATETIME,
@HoraIni varchar(10),
@HoraFin varchar(10)

as
begin

 DECLARE @FechaHoraInicio DATETIME = DATEADD(MINUTE, DATEDIFF(MINUTE, 0, @HoraIni), CAST(@FechaInicio AS DATETIME));
 DECLARE @FechaHoraFin DATETIME = DATEADD(SECOND, 59, DATEADD(MINUTE, DATEDIFF(MINUTE, 0, @HoraFin), CAST(@FechaFin AS DATETIME))); 


SELECT
	Atenciones.IdAtencion,
	SubclasificacionDiagnosticos.Descripcion Tipo,
	Diagnosticos.CodigoCIE10, Diagnosticos.Descripcion,
	AtencionesDiagnosticos.NroEvaluacion,
	ROW_NUMBER() OVER (PARTITION BY AtencionesDiagnosticos.NroEvaluacion ORDER BY AtencionesDiagnosticos.NroEvaluacion) AS Fila
    INTO #TempDiag
FROM
	Atenciones
	INNER JOIN AtencionesDiagnosticos ON Atenciones.IdAtencion = AtencionesDiagnosticos.IdAtencion
	LEFT JOIN Diagnosticos ON AtencionesDiagnosticos.IdDiagnostico = Diagnosticos.IdDiagnostico
	LEFT JOIN SubclasificacionDiagnosticos ON AtencionesDiagnosticos.IdSubclasificacionDx = SubclasificacionDiagnosticos.IdSubclasificacionDx
Where Atenciones.IdTipoServicio = 2        --Solo Consultorio Externo
	--AND  AtencionesDiagnosticos.idatencion= 71031 
	and Atenciones.fechaIngreso Between @FechaHoraInicio and @FechaHoraFin
	--and Atenciones.idEstadoAtencion<>0 
	--AND FechaEgreso IS NOT NULL



select  nrodocumento as 'DNI',nrohistoriaClinica as 'NRO. HC',FichaFamiliar as 'CIP',( ApellidoPaterno+' '+ ApellidoMaterno +' '+PrimerNombre+ ' ' + SegundoNombre + ' '+ isnull(TercerNombre,'')) as 'NOMBRES',
DireccionDomicilio as 'DOMICILIO', (select Nombre from Distritos where IdDistrito=IdDistritoDomicilio) as 'DISTRITO', Telefono as 'TELEFONO', FechaNacimiento as 'FECHA NACIMIENTO',Edad as 'EDAD',atenciones.FechaIngreso as 'FECHA INGRESO',
(select TriajeTemperatura from Triaje where Triaje.idatencion=Atenciones.IdAtencion and Triaje.idNumero=idnumero)  as 'TEMPERATURA',
idnumero as 'NRO. ATENCION',
(SELECT top 1 Tipo FROM #TempDiag WHERE idAtencion = Atenciones.IdAtencion AND Fila = 1 and #TempDiag.NroEvaluacion=idnumero ) [Tipo Dx1],
(SELECT top 1 CodigoCIE10 FROM #TempDiag WHERE idAtencion = Atenciones.IdAtencion AND Fila = 1  and #TempDiag.NroEvaluacion=idnumero) [Dx1],
(SELECT top 1 Descripcion FROM #TempDiag WHERE idAtencion = Atenciones.IdAtencion AND Fila = 1  and #TempDiag.NroEvaluacion=idnumero) [Descripcion1],

(SELECT top 1 Tipo FROM #TempDiag WHERE idAtencion = Atenciones.IdAtencion AND Fila = 2 and #TempDiag.NroEvaluacion=idnumero ) [Tipo Dx2],
(SELECT top 1 CodigoCIE10 FROM #TempDiag WHERE idAtencion = Atenciones.IdAtencion AND Fila = 2  and #TempDiag.NroEvaluacion=idnumero) [Dx2],
(SELECT top 1 Descripcion FROM #TempDiag WHERE idAtencion = Atenciones.IdAtencion AND Fila = 2  and #TempDiag.NroEvaluacion=idnumero) [Descripcion2],

(SELECT top 1 Tipo FROM #TempDiag WHERE idAtencion = Atenciones.IdAtencion AND Fila = 3 and #TempDiag.NroEvaluacion=idnumero ) [Tipo Dx3],
(SELECT top 1 CodigoCIE10 FROM #TempDiag WHERE idAtencion = Atenciones.IdAtencion AND Fila = 3  and #TempDiag.NroEvaluacion=idnumero) [Dx3],
(SELECT top 1 Descripcion FROM #TempDiag WHERE idAtencion = Atenciones.IdAtencion AND Fila = 3  and #TempDiag.NroEvaluacion=idnumero) [Descripcion3]
from atenciones 
inner join pacientes on pacientes.idpaciente=atenciones.idpaciente
inner join EvaluacionEmergenciaDetalle on EvaluacionEmergenciaDetalle.idatencion=atenciones.idatencion
where 
--atenciones.idatencion=71031 
Atenciones.fechaIngreso Between @FechaHoraInicio and @FechaHoraFin
and IdTipoServicio=2

drop table #TempDiag

end