USE [SIGH]
GO
/****** Object:  StoredProcedure [dbo].[Web_SeleccionarDatosMovimientoInforme]    Script Date: 13/5/2026 22:57:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*---------------------------------------------------------------------------------------|
| FECHA       | USUARIO | DESCRIPCION
|----------------------------------------------------------------------------------------|
| 13/05/2026  | MGAMERO | Se agregan los campos FormaFarmaceutica, Petitorio y Fabricante al detalle del informe de Nota de Salida.
|----------------------------------------------------------------------------------------|
*/
ALTER PROCEDURE [dbo].[Web_SeleccionarDatosMovimientoInforme]
	 @MovNumero NVARCHAR(50),
	 @MovTipo NVARCHAR(2)
AS

SELECT
	farmMovimiento.MovNumero,
	CONVERT(VARCHAR, farmMovimiento.fechaCreacion, 103) FechaMovimiento,
	fOrigen.descripcion AlmacenOrigen,
	ISNULL('(' + fOrigen.codigoSISMED + ') ', '') + fOrigen.descripcion AlmacenOrigenVentas,
	ISNULL('(' + fDestino.codigoSISMED + ') ', '') + fDestino.descripcion AlmacenDestino,
	farmTipoConceptos.Concepto,
	farmTipoDocumentos.Nombre TipoDocumento,
	farmMovimiento.DocumentoNumero,
	--farmMovimiento.Total,
	Total = FORMAT(ROUND(farmMovimiento.Total, 2), 'N2'),

	farmMovimiento.Observaciones,

	Empleados.Usuario,

	ISNULL(Pacientes.ApellidoPaterno + ' ', '') + ISNULL(Pacientes.ApellidoMaterno + ' ', '')  + ISNULL(Pacientes.PrimerNombre + ' ', '')  + ISNULL(Pacientes.SegundoNombre, '') Paciente,
	ISNULL(Diagnosticos.CodigoCIE2004 + ' ', '- ') + ISNULL(Diagnosticos.Descripcion, '-') + ' (Vendedor:' + ISNULL(Empleados.ApellidoPaterno, '') + ' ' + ISNULL(Empleados.ApellidoMaterno, '') + ' ' + ISNULL(Empleados.Nombres, '') + ')' DX,
	farmMovimientoVentas.idCuentaAtencion NroCuenta, FuentesFinanciamiento.Descripcion FuentesFinanciamiento,
	CONVERT(VARCHAR, Atenciones.FechaIngreso, 103) FechaIngreso,

	CASE Atenciones.IdTipoServicio WHEN 1 THEN 'CExt' WHEN 2 THEN 'Emer' WHEN 3 THEN 'Hosp' ELSE '' END TipoServicio,
	EstadosCuenta.Descripcion EstadosCuenta, Servicios.Nombre Servicios,

	CoordinadorIS = ISNULL(empIs.ApellidoPaterno + ' ', '') + ISNULL(empIs.ApellidoMaterno + ' ', '')  + ISNULL(empIs.Nombres + ' ', ''),
	ComponenteIS = ISNULL(farmComponente.Descripcion, ''),
	SubComponenteIS = ISNULL(farmComponenteSub.Descripcion, ''),
	DiagnosticoIS = '(' + ISNULL(dxIs.CodigoCIE10, '') + ')' +ISNULL(dxIs.Descripcion, ''),
	ObservacionIS = ISNULL(farmMovimientoProgramas.Observaciones, '')

FROM
	farmMovimiento
	LEFT JOIN farmAlmacen fOrigen ON farmMovimiento.idAlmacenOrigen = fOrigen.idAlmacen
	LEFT JOIN farmAlmacen fDestino ON farmMovimiento.idAlmacenDestino = fDestino.idAlmacen
	INNER JOIN farmTipoConceptos ON farmMovimiento.idTipoConcepto = farmTipoConceptos.idTipoConcepto
	INNER JOIN farmTipoDocumentos ON farmMovimiento.DocumentoIdtipo = farmTipoDocumentos.idTipoDocumento

	LEFT JOIN farmMovimientoVentas ON farmMovimiento.MovNumero = farmMovimientoVentas.movNumero AND farmMovimiento.MovTipo = farmMovimientoVentas.MovTipo

	LEFT JOIN farmMovimientoProgramas ON farmMovimientoProgramas.movNumero = farmMovimiento.MovNumero  
	LEFT JOIN Empleados empIs ON empIs.IdEmpleado = farmMovimientoProgramas.idCoordinador
	LEFT JOIN farmComponente ON farmComponente.idComponente = farmMovimientoProgramas.idComponente
	LEFT JOIN farmComponenteSub ON farmComponenteSub.idSubComponente = farmMovimientoProgramas.idSubComponente
	LEFT JOIN Diagnosticos dxIs ON dxIs.IdDiagnostico = farmMovimientoProgramas.idDiagnostico

	LEFT JOIN Pacientes ON farmMovimientoVentas.idPaciente = Pacientes.IdPaciente

	INNER JOIN Empleados ON farmMovimiento.idUsuario = Empleados.IdEmpleado
	
	LEFT JOIN Diagnosticos ON farmMovimientoVentas.idDiagnostico = Diagnosticos.IdDiagnostico
	LEFT JOIN Atenciones ON farmMovimientoVentas.idCuentaAtencion = Atenciones.IdCuentaAtencion
	LEFT JOIN FuentesFinanciamiento ON Atenciones.idFuenteFinanciamiento = FuentesFinanciamiento.IdFuenteFinanciamiento
	LEFT JOIN FacturacionCuentasAtencion ON Atenciones.IdCuentaAtencion = FacturacionCuentasAtencion.IdCuentaAtencion
	LEFT JOIN EstadosCuenta ON FacturacionCuentasAtencion.IdEstado = EstadosCuenta.IdEstado
	LEFT JOIN Servicios ON farmMovimientoVentas.IdServicioPaciente = Servicios.IdServicio
	--LEFT JOIN TiposFinanciamiento ON
WHERE farmMovimiento.MovNumero = @MovNumero AND farmMovimiento.MovTipo = @MovTipo


SELECT
	farmMovimiento.MovNumero,
	CONVERT(VARCHAR, farmMovimiento.fechaCreacion, 103) FechaMovimiento,
	fOrigen.descripcion AlmacenOrigen,
	ISNULL('(' + fDestino.codigoSISMED + ') ', '') + fDestino.descripcion AlmacenDestino,
	farmTipoConceptos.Concepto,
	farmTipoDocumentos.Nombre TipoDocumento,
	TipoProducto = ISNULL(farmTipoProductosSismed.Descripcion, ''),
	--farmMovimiento.Total,

	Empleados.Usuario,
	FactCatalogoBienesInsumos.FormaFarmaceutica, FactCatalogoBienesInsumos.Petitorio, FactCatalogoBienesInsumos.Fabricante, -- MGAMERO
	FactCatalogoBienesInsumos.Codigo,
	FactCatalogoBienesInsumos.Nombre Producto,
	SUBSTRING(FactCatalogoBienesInsumos.FormaFarmaceutica, 1, 2) UM,
	farmTipoSalidaBienInsumo.tipo,
	farmMovimientoDetalle.Lote,
	CONVERT(VARCHAR, farmMovimientoDetalle.FechaVencimiento, 103) FechaVencimiento,
	farmMovimientoDetalle.Cantidad,
	--farmMovimientoDetalle.Precio,
	--farmMovimientoDetalle.Total Total
	Precio = FORMAT(ROUND(farmMovimientoDetalle.Precio, 2), 'N2'),
	Total = FORMAT(ROUND(farmMovimientoDetalle.Total, 2 ), 'N2')


FROM
	farmMovimiento
	LEFT JOIN farmAlmacen fOrigen ON farmMovimiento.idAlmacenOrigen = fOrigen.idAlmacen
	LEFT JOIN farmAlmacen fDestino ON farmMovimiento.idAlmacenDestino = fDestino.idAlmacen
	INNER JOIN farmTipoConceptos ON farmMovimiento.idTipoConcepto = farmTipoConceptos.idTipoConcepto
	INNER JOIN farmTipoDocumentos ON farmMovimiento.DocumentoIdtipo = farmTipoDocumentos.idTipoDocumento
	INNER JOIN farmMovimientoDetalle ON
		farmMovimiento.MovNumero = farmMovimientoDetalle.MovNumero AND farmMovimiento.MovTipo = farmMovimientoDetalle.MovTipo
	INNER JOIN FactCatalogoBienesInsumos ON farmMovimientoDetalle.idProducto = FactCatalogoBienesInsumos.IdProducto

	LEFT JOIN farmTipoProductosSismed ON farmTipoProductosSismed.TipoProductoSismed = FactCatalogoBienesInsumos.TipoProductoSismed

	INNER JOIN Empleados ON farmMovimiento.idUsuario = Empleados.IdEmpleado
	INNER JOIN farmTipoSalidaBienInsumo ON farmMovimientoDetalle.IdTipoSalidaBienInsumo = farmTipoSalidaBienInsumo.idTipoSalidaBienInsumo
WHERE farmMovimiento.MovNumero = @MovNumero AND farmMovimiento.MovTipo = @MovTipo


