USE [SIGH_20260426]
GO
/****** Object:  StoredProcedure [dbo].[web_InsertarDatosUXCE]    Script Date: 28/04/2026 11:59:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[web_InsertarDatosUXCE]
	@idAtencion int,
	@nroHistoria int,
	@Idpaciente int,
	@IdUsuario int,

	@antecedQuirurgico varchar(1000),
	@antecedPatologico varchar(1000),
	@antecedObstetrico varchar(1000),
	@antecedAlergico varchar(1000),
	@antecedFamiliar varchar(1000),
	@antecedentes varchar(1000),

	@citaMotivo  varchar(5000),--varchar(max),
	@citaExamenClinico varchar(5000),--varchar(max),
	@citaAntecedente  varchar(1000),--varchar(max),
	@citaObservaciones varchar(5000)--varchar(max)
	as
	begin
		declare @fechaAtencion datetime
		declare @citaMedico varchar(200)
		declare @citaservicioJamo varchar(200)

		set @fechaAtencion = (select top 1 FechaIngreso  from Atenciones where IdAtencion=@idAtencion )
		set @citaMedico = (select top 1 (Empleados.ApellidoPaterno +' '+ Empleados.ApellidoMaterno +' '+ Empleados.Nombres ) from Atenciones
							inner join Medicos on Medicos.IdMedico=Atenciones.IdMedicoIngreso
							inner join Empleados on Empleados.IdEmpleado=Medicos.IdEmpleado
						   where IdAtencion=@idAtencion )
		set @citaservicioJamo = (select top 1 Servicios.Nombre  from Atenciones
								 inner join Servicios on Servicios.IdServicio=	Atenciones.IdServicioIngreso
								 where IdAtencion=@idAtencion )

		declare @cantidadDA int
		declare @cantidadDA2 int
		set @cantidadDA = (select count(idPaciente) from PacientesDatosAdicionales where idPaciente=@Idpaciente)
		if(@cantidadDA>0)
		 begin

			IF @antecedQuirurgico <> 'undefined'
			BEGIN
				update PacientesDatosAdicionales 
					set antecedQuirurgico= @antecedQuirurgico,
						antecedPatologico=@antecedPatologico,
						antecedObstetrico=@antecedObstetrico,
						antecedAlergico=	@antecedAlergico,
						antecedFamiliar=@antecedFamiliar,
						antecedentes=@antecedentes where idPaciente=@Idpaciente
			END
		 end 
		 else
		 begin
			insert into PacientesDatosAdicionales (idPaciente,antecedQuirurgico,antecedPatologico,antecedObstetrico,antecedAlergico,antecedFamiliar,antecedentes)
											values(@Idpaciente,@antecedQuirurgico,@antecedPatologico,@antecedObstetrico,@antecedAlergico,@antecedFamiliar,@antecedentes)
		 end

		 set @cantidadDA2=(select count(*) from SIGH_EXTERNA..atencionesCE where idAtencion=@idAtencion)
		 if(@cantidadDA2>0)
		 begin
			update SIGH_EXTERNA..atencionesCE set SIGH_EXTERNA..atencionesCE.CitaAntecedente=@citaAntecedente,
												  SIGH_EXTERNA..atencionesCE.CitaMotivo=@citaMotivo,
												  SIGH_EXTERNA..atencionesCE.CitaExamenClinico=@citaExamenClinico,
												   SIGH_EXTERNA..atencionesCE.CitaFechaAtencion =@fechaAtencion,
												   SIGH_EXTERNA..atencionesCE.CitaMedico =@citaMedico,
												   SIGH_EXTERNA..atencionesCE.CitaServicioJamo =@citaservicioJamo,
												   SIGH_EXTERNA..atencionesCE.CitaObservaciones=@citaObservaciones
												  where idAtencion	=@idAtencion
		 end
		 else
		 begin
			insert into SIGH_EXTERNA..atencionesCE (idAtencion,NroHistoriaClinica,CitaAntecedente,CitaMotivo,CitaExamenClinico,CitaFechaAtencion,CitaMedico,CitaServicioJamo,CitaObservaciones)
											 values(@idAtencion,@nroHistoria,@citaAntecedente,@citaMotivo,@citaExamenClinico,@fechaAtencion,@citaMedico,@citaservicioJamo,@citaObservaciones)	
		 end 
	end
